@use '@carbon/react';
@use '@carbon/colors' as colors;

.background {
    background-color: colors.$gray-100;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.body-compact-02 {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    font-weight: 400;
}